
body.dark {
  margin: 0;
  background-color: #121212;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1a1a1a;
  padding: 1rem 2rem;
}
.logo {
  font-size: 1.5rem;
  color: white;
}
.logo span {
  color: #7b61ff;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}
.nav-links a {
  text-decoration: none;
  color: #ccc;
}
.nav-links a:hover {
  color: #7b61ff;
}

.hero-section {
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.hero-image img {
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}
.hero-text {
  max-width: 600px;
}
.hero-text h1 {
  font-size: 2.5rem;
}
.hero-text h2 {
  font-size: 1.5rem;
}
.hero-text h3 {
  
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.btn {
  background: #7b61ff;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 8px;
  display: inline-block;
  margin-top: 20px;
}
.typed-text{
color: #7b61ff;

}
.cursor {
  display: inline-block;
  animation: blink 0.7s infinite;
}
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
.footer {
  text-align: center;
  padding: 20px;
  background: #1a1a1a;
  color: #ccc;
}
